/*
Sitio web desarrollado por Marcos Tabuyo
Correo: marcos.tabuyo@gmail.com
*/

body {
  background-color: var(--greyLigth);
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: white;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: white;
}

.nav {
  padding: 0.7rem 1.5rem 0.7rem 0.7rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.nav img {
  width: 250px;
}
.hide-for-mobile {
  display: none;
}
@media (min-width: 768px) {
  .hide-for-desktop {
    display: none;
  }
  .hide-for-mobile {
    display: block;
  }
}
.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__button {
  width: 40px;
  height: 40px;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu a {
  text-decoration: none;
  color: var(--grayBlue);
  padding: 0 0.8em;
}
.menu__item {
  display: flex;
  align-items: center;
}
.menu__checkbox {
  display: none;
}
.menu__checkbox:checked ~ .menu {
  display: block;
  position: absolute;
  top: 100%;
  padding: 1em;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, var(--greyLigth) 20%, transparent 90%);
  z-index: 1;
}
.menu__checkbox:checked ~ .menu a {
  padding: 0.8em 1em;
  color: var(--darkBlue);
  font-size: 1.1em;
  display: block;
  text-align: center;
  flex: 1;
}
@media screen and (min-width: 768) {
  .menu {
    display: flex;
  }
  .menu__button {
    display: none;
  }
}

/* .section__iframe {
  width: 100%;
  height: 2850px;
  display: flex;
} */
/* .flex-jc-sb {
}
.flex-ai-c {
  align-items: center;
} */

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header__toggle span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
  transform-origin: 3px 1px;
}
.section__iframe {
  overflow: hidden;
  position: relative;
  height: 2850px;
}

.section__iframe iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 1.5rem;
  background-color: var(--darkBlue);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
  text-transform: uppercase;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.button:hover::before {
  opacity: 1;
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --greyLigth: #eee;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .container {
    display: flex;
    align-items: center;
  }
}
/* @media screen and (min-width: 1280px) {
  .container {
    max-width: 100%;
  }
} */
.hero__imagen {
  flex: 3;
  order: 2;
  position: relative;
  height: 43.75rem;
}
@media screen and (min-width: 480px) {
  .hero__imagen {
    height: 41rem;
  }
}
.hero__imagen::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/paris.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% top;
}

.hero__imagen::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    var(--darkBlue) 5%,
    transparent 40%
  );
}
@media screen and (min-width: 600px) {
  .hero__imagen::before {
    background-position: right top;
  }
  .hero__imagen::after {
    background-image: linear-gradient(
      to right,
      var(--greyLigth) 15%,
      transparent
    );
  }
}
/* @media screen and (min-width: 1440px) {
  .hero__imagen::before {
    left: none;
  }
  .hero__imagen::after {
    left: 13%;
  }
} */
.card {
  flex: 3;
  order: 1;
  z-index: 1;
  position: absolute;
  bottom: 30%;
  left: 10%;
}
@media screen and (min-width: 600px) {
  .card {
    margin-left: 40px;
    position: relative;
    bottom: auto;
  }
}
.card__all {
  background: white;
  border-radius: 1rem;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .card__all {
    width: 410px;
    align-items: center;
    background: transparent;
  }
}
@media screen and (min-width: 768px) {
  .card__all {
    margin-left: 40%;
  }
}
@media screen and (max-width: 600px) {
  .logo__w {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .logo__h {
    display: none;
  }
}

.card__cotizar {
  text-align: center;
  margin-top: 1.5em;
}
@media screen and (min-width: 768px) {
  .card__cotizar a {
    margin-right: 1em;
  }
}
footer {
  display: block;
  box-sizing: content-box;
  position: relative;
}
.bottom {
  background-color: var(--darkBlue);
  min-height: 100%;
}
.bottom__grid {
  display: grid;
  grid-row-gap: 1em;
  justify-content: space-around;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
}
@media screen and (min-width: 480px) {
  .bottom__grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) {
  .bottom__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .bottom__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .bottom__grid {
    max-width: 69.375rem;
  }
}
.bottom__icon {
  text-align: center;
  align-items: center;
  padding: 1rem;
}
.bottom__icon img {
  width: 36px;
}
.bottom__contacto {
  padding: 1rem;
  text-align: center;
}
.bottom__contacto input {
  padding: 10px 5px;
  display: block;
  width: 300px;
  background-color: var(--darkBlue);
  border: none;
  border-bottom: 1px solid #757575;
  color: white;
  margin: auto;
}
input:focus {
  outline: none;
}
.button__enviar {
  margin-top: 1rem;
  appearance: none;
  outline: 0;
  background-color: var(--darkBlue);
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 3px;
  width: 315px;
  cursor: pointer;
  transition-duration: 0.25s;
  color: white;
}
.button__enviar:hover {
  background-color: var(--greyLigth);
  color: var(--darkBlue);
}
@media screen and (min-width: 1281px) {
  .bottom__gradient {
    content: "";
    width: 100%;
    height: 10px;
  }
}
.bottom__up {
  top: 2rem;
  right: 2rem;
  display: block;
  position: absolute;
}
.bottom__up img {
  width: 2rem;
  height: 2rem;
  background-color: var(--greyLigth);
  border-radius: 1.5rem;
}
@media screen and (min-width: 1300px) {
  .bottom__up {
    display: none;
  }
}
